body {
    margin: 0;
    background: linear-gradient(90deg, #1d7281, #0a0d33);
    background-size: contain;
}

.box {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
}

#mainBox {
    width: 35%;
    height: 60%;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    background-color: #ffffff;
    border-radius: 20px;
}

.contentBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}

.stats {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.stats div {
    padding: 10px 0px;
}

.video {
    border-radius: 15px;
}

.scoreBox {
    display: flex;
    justify-content: space-between;
    width: 30%
}

.score {
    font-weight: 600;
    display: flex;
    color: #ffffff;
    height: 30px;
    width: 100%;
    background: linear-gradient(#1d7281, #0a0d33);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.poster {
    border-radius: 15px;
}

video {
    border: 1px solid #cccccc ;
    border-radius: 15px;
    margin: 30px 0px;
}

@media (max-width: 900px) {
    .box {
        margin-top: 30px;
    }

    #mainBox {
        width: 90%;
    }

    .contentBox {
        width: 90%;
    }

    .scoreBox {
        width: 70%
    }

    video {
        width: 100%;
    }

    .poster {
        width: 100%;
    }
    }