body {
    margin: 0;
    background: linear-gradient(90deg, #1d7281, #0a0d33);
    background-size: contain;
}

.mainBox {
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

.contentBox {
    width: 30%;
    background-color: #ffffff;
    padding: 4% 4%;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .contentBox {
        width: 90%;
    }
    }

.contentBox1 {
    display: flex;
    flex-direction: column;
}

h5 {
    margin-bottom: 60px;
    text-align: center;
}

.btn-primary {
    margin-top: 25px;
    background: linear-gradient(180deg, #1d7281, #353861);
    border: 0px solid #ffffff00;
}
   
  .field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .field__file-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
   

  .field__file-button {
    padding: 2% 4%;
    background: linear-gradient(180deg, #1d7281, #353861);
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 4px;
    cursor: pointer;
  }