html {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(90deg, #1d7281, #0a0d33);
    background-size: contain;
}

.headDiv {
    color: #ffffff;
}

.headDiv h2 {
    text-align: center;
    margin-top: 30px;
}

.contentBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 12px;
}

.box img {
    height: 330px;
    width: 240px;
    border-radius: 12px 12px 0px 0px;
}

.box p {
    text-align: center;
}

.genreBox {
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genre {
    margin: 2px;
    color: #ffffff;
    padding: 4px;
    display: inline-block;
    font-size: 12px;
    background-color: #1d7281;
    border-radius: 6px;
}

.scoreBox {
    display: flex;
    justify-content: space-between;
    width: 130px
}

.score {
    font-weight: 600;
    display: flex;
    color: #ffffff;
    height: 30px;
    width: 50px;
    background: linear-gradient(#1d7281, #0a0d33);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.format {
    display: flex;
    justify-content: space-around;
    flex-direction: column
}

.textContent {
    margin: 10px;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
}

.prew, .next, .go{
    margin: 10px;
    user-select: none;
    padding: 5px 12px;
    color: #ffffff;
    background-color: #1d7281;
    border-radius: 5px;
}

.input {
    width: 60px;
    border-radius: 6px;
}

.select {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}