<link rel="stylesheet" href="/style/register.css">
<script defer src="/js/registration.js"></script>
<br />
<form>
    <div class="mainBox">
        <div class="contentBox">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Login</label>
                <input name="name" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>